In [12]:
# Dependencies

import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
from pprint import pprint

In [13]:
# API Call
fred_url = "https://api.stlouisfed.org/fred/series/observations?"
fred_series_id= 'FEDFUNDS'
fred_key= "b89a8705b676607c683445a983e6d21f"


params = {"series_id": fred_series_id, "apiKey": fred_key}

query_url = f"{fred_url}series_id={fred_series_id}&api_key={fred_key}&file_type=json"

fred_response = requests.get(query_url, params=params).json()

## Interest Rate Data Frame

In [14]:
int_rate_df = pd.DataFrame(fred_response["observations"])
# Reduce to pertinent columns
int_rate_df = int_rate_df[["date", "value"]]
# write a CSV
int_rate_df.to_csv("output_data/int_rate.csv")
int_rate_df

           date value
0    1954-07-01  0.80
1    1954-08-01  1.22
2    1954-09-01  1.07
3    1954-10-01  0.85
4    1954-11-01  0.83
..          ...   ...
818  2022-09-01  2.56
819  2022-10-01  3.08
820  2022-11-01  3.78
821  2022-12-01  4.10
822  2023-01-01  4.33

[823 rows x 2 columns]

In [15]:
# API Call
fred_url = "https://api.stlouisfed.org/fred/series/observations?"
fred_series_id= 'GDP'
fred_key= fred_key


params = {"series_id": fred_series_id, "apiKey": fred_key}

query_url = f"{fred_url}series_id={fred_series_id}&api_key={fred_key}&file_type=json"
fred_response = requests.get(query_url, params=params).json()

## GDP Data Frame

In [16]:
gdp_df = pd.DataFrame(fred_response["observations"])
# Reduce to pertinent columns
gdp_df = gdp_df[["date", "value"]]
# write a CSV
gdp_df.to_csv("output_data/gdp_rate.csv")
gdp_df

           date      value
0    1946-01-01          .
1    1946-04-01          .
2    1946-07-01          .
3    1946-10-01          .
4    1947-01-01    243.164
..          ...        ...
303  2021-10-01  24349.121
304  2022-01-01   24740.48
305  2022-04-01  25248.476
306  2022-07-01  25723.941
307  2022-10-01  26132.458

[308 rows x 2 columns]

In [17]:
# API Call
fred_url = "https://api.stlouisfed.org/fred/series/observations?"
fred_series_id= 'UNRATE'
fred_key= fred_key


params = {"series_id": fred_series_id, "apiKey": fred_key}

query_url = f"{fred_url}series_id={fred_series_id}&api_key={fred_key}&file_type=json"
fred_response = requests.get(query_url, params=params).json()

## Unemployment Rate Data Frame

In [18]:
unemp_df = pd.DataFrame(fred_response["observations"])
# Reduce to pertinent columns
unemp_df = unemp_df[["date", "value"]]
# write a CSV
unemp_df.to_csv("output_data/unemp.csv")
unemp_df

           date value
0    1948-01-01   3.4
1    1948-02-01   3.8
2    1948-03-01   4.0
3    1948-04-01   3.9
4    1948-05-01   3.5
..          ...   ...
896  2022-09-01   3.5
897  2022-10-01   3.7
898  2022-11-01   3.6
899  2022-12-01   3.5
900  2023-01-01   3.4

[901 rows x 2 columns]

## Merged - Int Rate, Unemp, and GDP

In [19]:
merged_int_unemp_gdp_df = pd.merge(pd.merge(int_rate_df, gdp_df, on='date'), unemp_df , on='date')
# Rename the columns
merged_int_unemp_gdp_df = merged_int_unemp_gdp_df.rename(columns={"value_x": "Interest Rate", "value_y": "GDP", "value": "Unemployment Rate"})
# write a CSV
merged_int_unemp_gdp_df.to_csv("output_data/merged_int_unemp_gdp_df.csv")
merged_int_unemp_gdp_df

           date Interest Rate        GDP Unemployment Rate
0    1954-07-01          0.80    390.996               5.8
1    1954-10-01          0.85    399.734               5.7
2    1955-01-01          1.39    413.073               4.9
3    1955-04-01          1.43    421.532               4.7
4    1955-07-01          1.68    430.221               4.0
..          ...           ...        ...               ...
269  2021-10-01          0.08  24349.121               4.5
270  2022-01-01          0.08   24740.48               4.0
271  2022-04-01          0.33  25248.476               3.6
272  2022-07-01          1.68  25723.941               3.5
273  2022-10-01          3.08  26132.458               3.7

[274 rows x 4 columns]

## Merged - Int Rate and GDP

In [20]:
merged_int_gdp_df = pd.merge(int_rate_df, gdp_df, on='date')
# Rename the columns
merged_int_gdp_df = merged_int_gdp_df.rename(columns={"value_x": "Interest Rate", "value_y": "GDP", "value": "Unemployment Rate"})
# write a CSV
merged_int_gdp_df.to_csv("output_data/merged_int_gdp.csv")
merged_int_gdp_df

           date Interest Rate        GDP
0    1954-07-01          0.80    390.996
1    1954-10-01          0.85    399.734
2    1955-01-01          1.39    413.073
3    1955-04-01          1.43    421.532
4    1955-07-01          1.68    430.221
..          ...           ...        ...
269  2021-10-01          0.08  24349.121
270  2022-01-01          0.08   24740.48
271  2022-04-01          0.33  25248.476
272  2022-07-01          1.68  25723.941
273  2022-10-01          3.08  26132.458

[274 rows x 3 columns]

## Merged - Int Rate and Unemp

In [21]:
merged_int_unemp_df = pd.merge(int_rate_df, unemp_df, on='date')
# Rename the columns
merged_int_unemp_df = merged_int_unemp_df.rename(columns={"value_x": "Interest Rate", "value_y": "Unemployment Rate"})
# write a CSV
merged_int_unemp_df.to_csv("output_data/merged_int_unemp.csv")
merged_int_unemp_df

           date Interest Rate Unemployment Rate
0    1954-07-01          0.80               5.8
1    1954-08-01          1.22               6.0
2    1954-09-01          1.07               6.1
3    1954-10-01          0.85               5.7
4    1954-11-01          0.83               5.3
..          ...           ...               ...
818  2022-09-01          2.56               3.5
819  2022-10-01          3.08               3.7
820  2022-11-01          3.78               3.6
821  2022-12-01          4.10               3.5
822  2023-01-01          4.33               3.4

[823 rows x 3 columns]